/* 隐藏滚动条 */
/* ::-webkit-scrollbar {
    display: none;
} */
/* 设置滚动条的整体宽度 */
::-webkit-scrollbar {
    width: 8px;
    /* 垂直滚动条宽度 */
    height: 8px;
    /* 水平滚动条高度 */
}

/* 滚动条的轨道样式（背景） */
::-webkit-scrollbar-track {
    background: #292828;
    border-radius: 10px;
    /* 圆角 */
}

/* 滚动条滑块样式（可拖动的部分） */
::-webkit-scrollbar-thumb {
    background: #767474;
    /* 滚动条颜色 */
    border-radius: 10px;
}

/* 鼠标悬停时的滚动条滑块样式 */
::-webkit-scrollbar-thumb:hover {
    background: #555;
    cursor: pointer
        /* 小手 */
}

body {
    margin: 0;
    padding: 0;
    /* 适配 IE 和 Edge */
    -ms-overflow-style: none;
    /* 适配 Firefox */
    scrollbar-width: none;
}